.overlays{
    position:absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0,0,0,0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .alert{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
    box-shadow:  -11px 11px 22px #bababa,
                11px -11px 22px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .alert h1{
    color: rgb(211, 68, 68);
    font-size: 20px;
    font-weight: bold;
  }
  .alert h2{
    color: #214e28;
    font-size: 20px;
    font-weight: bold;
  }
  .alert p{
    font-size: 16px;
  }
  .btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btns span{
    border: 1px solid black;
    width: 90px;
    height: 35px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  .btns span:hover{
    background-color: #333;
    color: white;
    transition:0.5s ease-out;
  }