.auth-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-container-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color:#d6d6d6;
  }
  .auth-container-box form{
    padding-inline:16px;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
  }
  .auth-container-box form input{
    height: 30px;
    margin-block:10px;
    border-radius: 5px;
    border-width: 1px;
    background-color: transparent;
    padding-inline-start: 10px;
  }
  .auth-btn{
    height: 30px;
    margin-block:10px;
    border-radius: 5px;
    border-width: 1px;
    font-weight:bold;
    cursor:pointer;
  }
  
  .auth-option{
    display: flex;
    justify-content:space-evenly;
  }
  .auth-option button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
  }
  