.feedback-container{
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    padding-inline:25px;
    padding-block:20px;
    z-index: 1;
}
.closebtn{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-inline:5px;
    height: 8%;
    border-bottom: 1px solid black;
}
.closebtn span{
    padding-inline: 10px;
}
.closebtn button{
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}
.feedback-detail{
    height: 92%;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}
