.overlay{
    position:absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.itemcontainer{
    background-color: #e7e7e7;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    padding-inline:25px;
    padding-block:20px;
    z-index: 1;
    
}
.closedetail{
    display: flex;
    justify-content:space-between;
    padding-bottom: 5px;
    padding-inline:5px;
   
}
.closedetail span{
    font-weight: bold;
    color: #333;
}
.closedetail button{
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}
.detail-container{
    display: flex;
    justify-content: space-between;
}
.detail-container{
    margin-block: 10px;
    display: flex;
}
.detail{
    background-color: #e2e2e2;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}
.item-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfcfcf;
    height: 60px;
    border-radius: 5px;
}
.item-header span p{
    font-style: normal;
}
.item-header span strong{
    font-style: normal;
    font-size: large;
}
.desc{
    padding-block-start: 5px;
    width:100%;
    height: 80%;
    overflow-x: none;
}
.detail span{
    font-style: italic;
    font-size: smaller;
}
.itemId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.itemId img{
    width: 250px;
}



/* flip card */
.flip-card {
    background-color: transparent;
    width: 500px;
    height: 700px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }