.overlay{
    position:absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal{
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
  }
  .modal-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
  }
  .modal-title button{
    background-color: transparent;
    border-width: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: rgb(195, 2, 2);
  }
  
  .modal .form-title-container{
    display: flex;
    flex-direction: column;
  }
  .modal .form-title-container input{
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 10px;
    margin: 10px;
  }
  .add-user{
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  .add-user:hover{
    background-color: #dedede;
    transition: 0.4s;
  }


  /* item modal */

  .additemModal{
    background-color: white;
    width: 500px;
    height: 80%;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 30px;
    transition: 3s;
  }

  .col{
    padding-block: 5px;
    text-align: start;
    padding-inline: 20px;
  }
  .input1{
    width: 350px;
    height: 25px;
    border-radius: 3px;
    border-width: 1px;
    margin-inline-start: 50px;
  }
  .input2{
    width: 350px;
    height: 25px;
    border-radius: 3px;
    border-width: 1px;
    margin-inline-start: 45px;
  }
  .desc{
    width: 350px;
    height: 25px;
    border-radius: 3px;
    border-width: 1px;
  }
  .upload-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    margin-top: 20px;
  }
  .heading{
    display: flex;
    justify-content: space-between;
    padding-inline-start:20px ;
  }
  .heading button{
    background: transparent;
    border: none;
    cursor: pointer;
  }
.img-pick-btn{
  display: flex;
  justify-content: center;
  margin-block:10px;
}
.img-pick-btn div{
  border: 1px solid black;
  padding-inline: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  font-weight:500;
}


/* add user modal */
.add-user-container{
  /* border: 1px solid white; */
  width: 500px;
  height: 40%;
  padding: 20px;
  border-radius: 10px;
}
.header{
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 15%;
}
.header span{
  color: #333;
  font-weight: bold;
}
.form-container{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 80%;
}
.form-container form{
  display: flex;
  flex-direction: column;
}
.form-container form input{
  height: 40px;
  padding-inline-start: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-block: 10px;
  
}
.form-container form button{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-block: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}



/* add item .modal */

.main-container{
  border: 1px solid white;
  height: 90%;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  background-color: #e7e7e7;

}
.additem-header{
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  height: 8%;
  align-items: center;
  padding-inline: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.additem-header span{
  color: #333;
  font-weight: bold;
}
.additem-header button{
  background:transparent;
  border: none;
}
.add-detail-container{
  border: 1px solid white;
  display: flex;
  margin-top: 10px;
  height: 80%;
  background-color: white;
}
.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid white;
  height: 100%;
  background-color: white;
}
.input-container{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.img-preview{
  height: 85%;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #e7e7e7;
}
.choose-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-block: 10px;
  height: 15%;
  width: 100%;
  border-radius: 10px;
  
}
.choosefile{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #333;
  border-radius: 5px;
}
.choose-btn input{
  border: 1px solid white;
}
.input-container input{
  margin: 10px;
  height: 50px;
  width: 80%;
  padding-inline-start: 15px;
  border-radius: 5px;
  border:1px solid #333;
}
.input-container textarea{
  width: 80%;
  border-radius: 5px;
  padding-inline: 15px;
  resize: none;
  padding-top: 10px;
  height: 30%;
}
.input-container button{
  width: 80%;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #333;
}