header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#f2f2f2; 
    color: black;
    border-radius: 10px;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search input[type="text"] {
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 20px;
    width: 200px;
  }
  
  .search img {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .logout button {
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  .header-container{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 5px 5px 20px #bebebe,
              -15px -15px 30px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container span{
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;

  }
  /* @media only screen and (min-width: 600px) {
    .search input[type="text"] {
      padding-block: 5px;
      padding-inline: 15px;
      border-radius: 5px;
      border: none;
      outline: none;
      height: 18px;
      width: 200px;
      font-size: 12px;
  }
  .search img {
    margin-left: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
  .logout button {
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px;
    height: 10px;
}
} */