.userlist-container{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-inline-start: 100px;
    padding-inline-end: 380px;
    margin: 10px;
    border-radius: 5px;
    height: 40px;
}
.userlist-container h5{
    color: #333;
    margin: 0;
}
.viewItem{
    border: none;
    cursor: pointer;
}


/* delete button */
.del-user {
    width: 80px;
    height: 30px;
    background: #b43535;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .del-user span {
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .del-user:hover .btn-text-one {
    top: -100%;
  }
  
  .del-user:hover .btn-text-two {
    top: 50%;
  }
  