body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feedback{
  width: 200px;
  height: 80px;
  overflow-x:hidden;

}
::-webkit-scrollbar {
  width: 5px; /* set the width of the scrollbar */
}
.feedbacklist-container{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
  padding-inline-end: 370px;
  margin: 10px;
  border-radius: 5px;
  height: 100px;
}
